.about{
    color:white;
    font-size: larger;
    background-color: grey;
    width:100%;
    text-align: center;
}
.abheading{
    color:white;
    font-size: larger;
    background-color: grey;
    width:100%;
    text-align: center;
}
.abwrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.abimage{
    height:70vh;
    width:100%;
}